<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<CMDList>
		<CommandLine>
			<ErrorContinue>true</ErrorContinue>
			<CMDName>
				<![CDATA[${BMS_HOME}\Bin\NormalizeCMD.exe]]>
			</CMDName>
			<Para><![CDATA[-ACTIVATENORMALIZECONSOLE]]>
			</Para>
		</CommandLine>
	</CMDList>
	<StartMenu>true</StartMenu>
	<OverwriteExistingDatabase>true</OverwriteExistingDatabase>
	<!--		<CompanyName>eng_no_cp</CompanyName>
	<ActivationKey>MkbekdUXwlkezKXCqXnMD/HbW+PHtby1CTDiNsQpy/tHFxwNou127UOeTYonLMuFrG6YZgm5tCg2iYTYfS320WVlTshsy5W19MUsItYxMItB7ZvqrOVt4SdKx5STGIvwkuG6VyYVbPVano8NmCZV8G/0L1h8rcIsahJhQ58AMQOoXcusVYvQUrDEa1ku7RMYNGMpfTUikqHLDRUbiX+OMQbMnuGYxPHFiaeM+UbmFqNT4JmZGrMsXqFmMSEpSsVnv1+wvnKbqKM+l2ev3EStJlJ1kLPBjZn+NK8FLEQ4KBV7sLkeXsJrkrjS3MTslDq3Bts1nGK226pP6YsbKhuGQ4Ii7p0+fF7t4xd75U8nAQemdDzC8dX0qiXawD0zr4za80scqIDh0DXQGMuPlzTcmOBAgYeECy4W93mxOzIef43NBgt7yKMAC7SQQFMqdV3AQCoI0JiKTGnQrNN8DTvEP6uOFNPsbLhRUWEHRR8uBya57TnG8IFSX/F7eg7SdTARx9dsMNhMMKBCeh5Pnz68HWA0Fs3SlvBu83/CrFmfuHSth1KgK0hwJgs/q4NfuCvCQMRrMovA40E+5LzGV1J8IMeMrTCV1NzyyNR3rNxr1O8=</ActivationKey>
	<CompanyName>test_key2</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZTsObcYD/AHrdpCLiNqZYPT8b7hKA/Gt3dsVQ5bkPbOidMaJf61Dks27C8TiQmznLyEbCd7gGnQCr00MzAoAlV0uT0iHvzypjaDPfwGKhyvHKiFFVWrVpPVwAY24ANy/9kn/CDAVfv0j+gW8lbq1C6NN81WcI42gLks12jEPgHmEFONoIMQ9DxFqy1NR+odarU8W6p+htQJYUgEcbCaHQYIbHmgXHHbjCvJ8QEhsw41Tokk8JhYUoq8+gZvFPJ6rjpTfjvUvyM4QVl//Dr7MoYxklB25oTQi0AYva68aRfXu40yKDUYVYMj3kkRz3OTpWpvSh4R6YbGf8/dwQElIxmhqO1ICF7/ES6gnN54oZ+3YHfK1Mgn04wyxGTQQTIW3ReURj4PvuLt4xMilS7G7Nz+8GiDwwFtcFBtcWhwabiw3NJVSt7rkKCgugQkOBfeT2X1zXUz5YGQvpJmlHBIZdK8hMtdq9yOq7+qffjqVJELjs+dIu25/X4VzJmdH/RJGVIlWs0DW90nfXrRwHZwDhnJJ8hQGh4cv2Kmd78bzKSs4vjGOicY7dvrgnvyZgL9on521EqTQah57wWg+gvBs2lSO0AUhP28Ex0QJrSLLbTpWOzN+2dgd9D2UpZNNhgyOZ9GEG6oQSThLYDPLDWihHh3S12QjKc3+mAf3SgXK9uVSbOWzMytl4w9dKm8nDerBkKE2u5goiRMdkSOw2W5WO8K5VmH7uXBykyzJG3bPv4YO8jZtBEi0dch+SQH2vkPuM1aZ81TZysTBHJ/6qF68SJY=</ActivationKey>
	<CompanyName>superkeynolifecycle</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZbVyAkSeQf9R3DkRWW02pdWmd7tLNT9Ii+zw9/7KDtKOgNkfF/OexpsTF2WwJuY0wh99i+iLZDSgoSPPWuhwMmnQkHbNf93iwcdlSk8BQYG98v+8KNDEZEnOCf1ii+icdO6ZX7MVIpNgoUiHV/F2dfu25L24SxpJguEYbkQ5N7r2e6ZMQmmVXqtRX+OUJCE08/y4WgRKvJzzRLXhRrPhGfsxwn26QgAkEYnado9OqzRFz/w+TPHldLgFGej013bWfiohOLwLuroKpalu0QwvWKkYgKdW00J8EUoa5skqTfNDqgeqnapbvxsCPgSUNcxh1uGxz98TKWHDtqZb9VwtWFG15DGLarSufjYeSGBvCKgMg4YnqZeY9gpN5AN/HeKy3/BrCSFitOEy45IARtIgE7IFV15rp9ZjjOkh3f5DeIH2VYDnJuxmrUAErNbpkH1NOabzzm0jKdl+mYreLdLSVnI5SemcZOG9SZmJCBsTUfx7hpHgcO3Vd6Bxri8hK+EWbbD2zgIRIIiNAy0AcQauyT0yPWM4IKWICCBb7iK4k6B6Suuz/EsS07XGJ2tmdizfanCTTr4eaCyAzg2THS3EHLZMvfulWfQRrliVCTzhHtoI</ActivationKey>
	<CompanyName>eng_superkey1</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZXNiU9Jtidv24ZLtYAfr462+jIBx6UXDL+uVhSQ2z7xwZKBHEV+tysgOX+s365xgCuL7huf02LscwYHOzwuEYGO4azzia18oI8o5a3djJr5nkmGo0rMCmogZ5GVynD0mp6i6pWA9fLOfIWakZ1WFhk49+yZ5Nv415RGpfZArHcUZ5WrVDSj2fMpDa0l56Or0CnueCVjBiADzfwwWr7Gbw2hptIWqMs1BAaMUQLqHPVPk5nHa1NciErCy7xMdS4CPXvZ7alSH6v44qIaWkghiNc7D4sgEmDrFsiLVra9LQEzjY03Qc/75aT64spW1j5ZfRQU/13ZXTqf55f+i5p5YRHFhWXbGWrvb2gMOeMfMyJ/+ugGYBM5xl+CwDg/9Pz4P0cnpzBauom0IIe5vqZqB7CCSWZ3tasl8AcFFQeJPwKTgM0otJCDk/iW7/0YrbK2pKzmN2WO5VUFb6rvfNQK8qUf0cI1ueLjlUf9pt4yhddOx6jFVj6VzpU8/9trPjos4Gu+gujaN1q1y7evCQNLjg2UewHP6c3DLNP4UD3Kj0o82h4MN/IKwTBjLQVBFvx8T3rd4BOizqHueJRhkQmmBP61Jy9jvaD7C+fa7CZ1ol9RA</ActivationKey>
	<CompanyName>basiccatalogkey</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZWP8kZGjKo908XnTfSA6yUkHyU6iVJyhLyFi0IOIfaLLb55qn0GDkk3qx5O9mF40JAdob1gZEQyPCVIh6RqOCrYCgEM+u+klVfcvr0lQAFPc9jwl258f6vjuMUSaA8hZ78OPiJ7fH8ukXBh/pBPm0SA9cdQTiQwVg5oaw5K847Ivjvy0wuahEjDsuPLtC1/mPStGE3ucqNdenP49fewvuVhThIK1KZkfuF7Ym9ensykXM9HmqL+1ahneR24uBjBgW4B/nKXm0LgzhkGfo4EgyudxddnLX0GQlD4roJxBvdJ7MpEseSNBHW789wFl9NW898nFAT82ipHJYaZVT9412kw0H7SOmpUJpBArenAyAMTjlyuQwOCq6Lfz0oH7TJW5cNf/NZWB/Yf7XgXaDnP6YbGsMm58V4E5TtnDBD1nqBpI5i4YjSYVU/doUCNqAu6kSULYoytyfEGZedR3/PI5PlMCbzEklNqx+HfLTrPis1z+jrDMJ/Aei7ZHQ3FUQACgoymMwnHR0OJRR/w2VQp7kX/PoqwxHZUbEBNuh3Pnv9mvR7ZbqRUVA+JObGPNb1Yn0Q6I1cgPPQGs8H93QNKv6QTPoCosCFOlkQE3EuB4sYbl</ActivationKey>
	<CompanyName>eng_ux_no_analyze</CompanyName>
	<ActivationKey>MkbekdUXwlkezKXCqXnMD/HbW+PHtby1CTDiNsQpy/tHFxwNou127UOeTYonLMuFa1u0hJJLGEfbVEeEctTJrSB1hDMGPpit43RrHRZ+2xrsS0TDcA0IVlNVjP6PtQOlRI19pRQTielSWMXgQs8eNfhlmSn60JkM5+ptzru8jfATPvjTQrf04Fhlb0+ajpLAdNrQpX7jfTJ60ANwxPQuEFy+QLtX+fghQJDVyWfls1tsqJd2ZB3yukr0k5m/GGcRV5BPYfpyqaQ2GM1q1gXzLWUzMKTyLGSmU4jajC4Akc3OmZO69yCQqQK5oCQn3B4Plnhig+yA7U19KCsVGlcinzHKDxVJ02+JELGFoX0YJf4gIhVGuxkEKTDZv1arZU2LJxde+BSzz69u6oztHncWmCDkJXn2mQZshDE3t/ovFsDEcFNKq9aVXijnIyEMd/DNUcc/ov0wdaD/IchRou06kqUmrhC3sh6WekdxWPPkLAkM6GAK+p/k7CYiZJzUldn+5x0sPcU0CHYWzFADeD1roWd1fbTLUIs1cz8BZxOtApp/WGUgAlr/pkMeSfkO0by4JsPrpdAx8Ds46kWYgcD9BTf8JQKT51050j6H2f2S5WMX+88FJvJ3oQ6RqQF2APdP</ActivationKey>
-->
	<CompanyName>qatestkey3</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZTXRDZhqHOqS2q3feDfQqnbNnl6sj42gSlmsjc7PweWS2pZCDIP+g2+roVV0TIVjPdI10+1y7glB4lnGX/0sQTN2XUAHxBEtxr+zpMmjdXs6+iywAcxfKi6UTiD2p49YrshqzZmBiq+LzNBJGsdk67C2dE4NqkoB9sYgOFXo50ejE/+lRaj6B/BhE5UuDPBUbTEYKpQ9SgxubSCJQ8DEgxajCRbxuchBn3dpCjTntiNaEjrc3tEy6/M67D588rs5rhkBRKQOi3LblczrrxZEPkytd8AC2pkUTyB+b0ryQnXGbaXPGvI9BUPJqDxj0KcQdYcu7OHqpukOt0yL97n99azvHBGv7V8PdTAUel5w/zApoFDwCqC5AKsmXLzxIUkoJlJA717J/sDd3ZOm//L2HAFdcq0/R5SjGWkQrsNNc7Kznc1iq5S6N/f3XbMaRMLCjRBVZQOJ+sJSWIaoEXpP3kQ30Em00CZL5rGx9Nk5hVYIOUH6MdGggmvAHoBMRYNp4Oe5UmOZZL8aL1aTcazsIuia0aFilvZ9rrKMgOetb1gghQ0d2rXNDSTr42xzq6ETz+QWCT9bvr2SbHIZW4HQBq8=</ActivationKey>
	<TUSOffLineURL>http://tus50.bdna.com/GetOffLineUpdatedFile.aspx</TUSOffLineURL>
	<NormalizeVersion>5.0.0</NormalizeVersion>
	<InstallParameters>
		    <SerializableDictionary>
			<key>
				<string>Configuration/AUTO_UPDATE_SOFTWARE</string>
			</key>
			<value>
				<string>ON</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionSQLServer</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionSQLServer</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionSQLServer</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>MsSqlServer</ConnectionType>
      <Host>192.168.10.48</Host>
      <User>NC11_1138</User>
      <Password>li8ZeOp6XPw=</Password>
      <Pooling>false</Pooling>
      <MinPoolSize>0</MinPoolSize>
      <MaxPoolSize>100</MaxPoolSize>
      <ConnectionLifetime>30</ConnectionLifetime>
      <Catalog>NC11_1138</Catalog>
      <WindowsAuthentication>false</WindowsAuthentication>
      <UseCurrentUser>false</UseCurrentUser>
      <ConnectAsUser />
      <ConnectAsPassword />
          ]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>MsSqlServer</ConnectionType>
      <Host>192.168.10.48</Host>
      <User>BPC11_1138</User>
      <Password>li8ZeOp6XPw=</Password>
      <Pooling>false</Pooling>
      <MinPoolSize>0</MinPoolSize>
      <MaxPoolSize>100</MaxPoolSize>
      <ConnectionLifetime>30</ConnectionLifetime>
      <Catalog>BPC11_1138</Catalog>
      <WindowsAuthentication>false</WindowsAuthentication>
      <UseCurrentUser>false</UseCurrentUser>
      <ConnectAsUser />
      <ConnectAsPassword />
          ]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>MsSqlServer</ConnectionType>
      <Host>192.168.10.48</Host>
      <User>SA</User>
      <Password>AQougntJw9z/NWy/RZ0B2w==</Password>
      <Pooling>false</Pooling>
      <MinPoolSize>0</MinPoolSize>
      <MaxPoolSize>100</MaxPoolSize>
      <ConnectionLifetime>30</ConnectionLifetime>
      <Catalog>MASTER</Catalog>
      <WindowsAuthentication>false</WindowsAuthentication>
      <UseCurrentUser>false</UseCurrentUser>
      <ConnectAsUser />
      <ConnectAsPassword />
          ]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/WebServer</string>
			</key>
			<value>
				<string>
					<![CDATA[
	  <IISWEBSITE>Default Web Site</IISWEBSITE>
    <PhysicalPath />
	<TAPIAlisaName>bdna-api</TAPIAlisaName>
    <TAPIAppPoolName>bdna-api</TAPIAppPoolName>
    <AliasName>bdna-admin</AliasName>
    <AppPoolName>bdna-admin</AppPoolName>
    <IISType>IIS</IISType>
    <IsNativeIIS>true</IsNativeIIS>
    <IISPort>8080</IISPort>
    <State>NULL</State>
		      ]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/LDAP</string>
			</key>
			<value>
				<string>
					<![CDATA[
        <ValueDict>
			  <key>
        <string>GroupTestUser</string>
      </key>
      <value>
        <string>demoadmin</string>
      </value>
      <key>
        <string>UserName</string>
      </key>
      <value>
        <string>demoadmin</string>
      </value>
      <key>
        <string>Password</string>
      </key>
      <value>
        <string>li8ZeOp6XPw=</string>
      </value>	  
      <key>
        <string>URL</string>
      </key>
      <value>
        <string>192.168.8.18:389</string>
      </value>
      <key>
        <string>UserSearchFilter</string>
      </key>
      <value>
        <string>(&amp;(objectClass=Person)(cn=Demo*))</string>
      </value>
      <key>
        <string>UserSearchBase</string>
      </key>
      <value>
        <string>ou=nbi,ou=bdna_engineerteam,dc=bdnacn,dc=com</string>
      </value>
      <key>
        <string>UserAttribute</string>
      </key>
      <value>
        <string>sAMAccountName</string>
      </value>
      <key>
        <string>ManagerDN</string>
      </key>
      <value>
        <string>cn=DemoAdmin,ou=nbi,ou=bdna_engineerteam,dc=bdnacn,dc=com</string>
      </value>
      <key>
        <string>Type</string>
      </key>
      <value>
        <string>ActiveDirectory</string>
      </value>
      <key>
        <string>GroupSearchFilter</string>
      </key>
      <value>
        <string>(member={0})</string>
      </value>
      <key>
        <string>AuthoritiesSearchBase</string>
      </key>
      <value>
        <string>ou=nbi,ou=bdna_engineerteam,dc=bdnacn,dc=com</string>
      </value>
      <key>
        <string>GroupSearchBase</string>
      </key>
      <value>
        <string>ou=nbi,ou=bdna_engineerteam,dc=bdnacn,dc=com</string>
      </value>
      <key>
        <string>AuthoritiesSearchFilter</string>
      </key>
      <value>
        <string>(&amp;(objectClass=group)(cn=nbi*))</string>
      </value>
      <key>
        <string>AuthoritiesRoleAtrribute</string>
      </key>
      <value>
        <string>cn</string>
      </value>
      <key>
        <string>GroupRoleAtrribute</string>
      </key>
      <value>
        <string>cn</string>
      </value>
      <key>
        <string>GroupIsSubtree</string>
      </key>
      <value>
        <string>True</string>
      </value>
    </ValueDict>
    <UserAuthentication>AD</UserAuthentication>
	]]>
				</string>
			</value>
		</SerializableDictionary>
	</InstallParameters>
</Configuration>
