<?xml version="1.0"?>
<Configuration>
  <Account4Security>
    <Domain></Domain>
    <IsHttps>false</IsHttps>
    <UserName>administrator</UserName>
    <Password>Simple.0</Password>
    <Host>localhost</Host>
    <Port>80</Port>
  </Account4Security>
  <ValueDict>
    <key>
      <string>LicensePath</string>
    </key>
    <value>
      <string>\\192.168.8.25\app\BDNA\CoMo\BDNA_Technopedia_KEY.nbilic</string>
    </value>
    <key>
      <string>WebsiteName</string>
    </key>
    <value>
      <string>Default Web Site</string>
    </value>
    <key>
      <string>IfUseAnExistingPublishSchema</string>
    </key>
    <value>
      <string>False</string>
    </value>
    <key>
      <string>MaxTechnopediaMemory</string>
    </key>
    <value>
      <string>3072</string>
    </value>
    <key>
      <string>MaxSearchEngineMemory</string>
    </key>
    <value>
      <string>2048</string>
    </value>
    <key>
      <string>ServiceUserName</string>
    </key>
    <value>
      <string>administrator</string>
    </value>
    <key>
      <string>ServicePassword</string>
    </key>
    <value>
      <string>Simple.0</string>
    </value>
    <key>
      <string>ServiceUserRole</string>
    </key>
    <value>
      <string>administrators</string>
    </value>
  </ValueDict>
</Configuration>