<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<CMDList>
	</CMDList>
	<StartMenu>true</StartMenu>
	<OverwriteExistingDatabase>true</OverwriteExistingDatabase>
	<CompanyName>D2Full</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZWe9qhFR/QaDAuSsf/r8mYKtBCMDBnwuJDl1YbSTktTw57j9sdK/f0rWcHCfEb+uS9B/wsHMqmQF5VvwQHYED8Zvrg0+PO3GbBshJU1fRF+ctd8UXq+N8LBkZDTKs+UD/wXjS8kSl+VxCcNcHu3lPt6T/rCrXmY9rFvr/EXK5J1rb6VLXchgANk24LC9EypIvTFIPm8vIewdiMKbQ8+Tj1PhqQuan7/OxZR9hw6CfihwTMDGLToXkiWXlowJD3ygIi54M6Q87FqPwJIsCA+L/lqUJB00I8vl9j+1Ip30R+9sSN1u0Y5oNQ327AfweVv9+t1twpp9utO8r6UCoK/U3Cqn9+1kFApz5RSHg+Ty3zrT6XZwi072pKuI5PhUqOADg84YhoZgBqU5Vkn2IsIRRt8To2BsULBeX9zi8vNuRBPYY4uzTk7cMbCuKGz3u6j7XhxYjsIgBwIo+MFytubI83d2AzVJsNXGFcaYiv+Wkc9jsrbAOlAOsRBmXMU5MnWQ1J48Q8hMxSAxhuUpDL+ow0jCunmOEIDsw6rJ2OQ9/ToC5e6pGKdpKAmujtxriAMmLw==</ActivationKey>
	<!-- <CompanyName>eng_superkey</CompanyName> -->
	<!-- <ActivationKey>MkbekdUXwlkezKXCqXnMD/HbW+PHtby1CTDiNsQpy/tHFxwNou127UOeTYonLMuFU0EfskXClFISYUDLldt1Up1aP/Nws8G75N3qkYcH7x6t7fZGEBEoJVkqjOJCQsoETlMIHMsBGqUx+PUKtnkt8Ju43S6bnGuGB8vvxIKn2rjyv3C8B64L5+qt52mpRzo2dZOBcL4H0C4l3aH9ab40BUUL3xKbtq/0iHTvk/oq4H/LHEtcGOwCi+STdwJKWHmp+SNUjnm5dU/vCZlWgBRDaLUSHOaXfn4C92Yy+V1CxLXg0lG+/S+sp703f+pt8DrOwJEyNFozrOaxwQbZBEv1vMc5+lBbaZCZ064MVKhgwQ38LfK1XyQLDrrdyTbYEaDx9S8Pit8JxkqjlH0Y1ZMcD3s8wd2E+LfRj6kUzAq5iPtQ4gtlrrfWP2+cF83VBdUAyo14u9n4CFaqRu68YOcTDsY8AlzIjT46ZrJBRxxhL5ZGckBphIcyjHpiVpeMZz3Gl7RH2PJEIjC6n+2SUXDd5hec43VdE7lLYZnSy5viTdmN1Bs418kt2O4ZPnieEUfuXtKxJ+pp+EaH40K8PlNScuo2Sui76YzrVchDQn9JCZw=</ActivationKey> -->
	<TUSOffLineURL>http://tus50.bdna.com/GetOffLineUpdatedFile.aspx</TUSOffLineURL>
	<NormalizeVersion>5.0.0</NormalizeVersion>
	<InstallParameters>
		<!-- <SerializableDictionary>
			<key>
				<string>Configuration/AUTO_UPDATE_SOFTWARE</string>
			</key>
			<value>
				<string>ON</string>
			</value>
		</SerializableDictionary> -->
		<SerializableDictionary>
			<key>
				<string>Configuration/LDAP</string>
			</key>
			<value>
				<string><![CDATA[
				 <ValueDict>
      <key>
        <string>Type</string>
      </key>
      <value>
        <string>LDAP</string>
      </value>
      <key>
        <string>GroupSearchFilter</string>
      </key>
      <value>
        <string>(uniqueMember={0})</string>
      </value>
      <key>
        <string>UserAttribute</string>
      </key>
      <value>
        <string>uid</string>
      </value>
      <key>
        <string>URL</string>
      </key>
      <value>
        <string>192.168.11.98:1389</string>
      </value>
      <key>
        <string>ManagerDN</string>
      </key>
      <value>
        <string>uid=NBIAdministrator,ou=People,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>Password</string>
      </key>
      <value>
        <string>AQougntJw9z/NWy/RZ0B2w==</string>
      </value>
      <key>
        <string>UserSearchBase</string>
      </key>
      <value>
        <string>ou=People,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>UserSearchFilter</string>
      </key>
      <value>
        <string>(&amp;(objectClass=Person))</string>
      </value>
      <key>
        <string>AuthoritiesSearchBase</string>
      </key>
      <value>
        <string>ou=Groups,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>AuthoritiesSearchFilter</string>
      </key>
      <value>
        <string>(&amp;(objectClass=groupOfUniqueNames))</string>
      </value>
      <key>
        <string>AuthoritiesRoleAtrribute</string>
      </key>
      <value>
        <string>cn</string>
      </value>
      <key>
        <string>GroupRoleAtrribute</string>
      </key>
      <value>
        <string>cn</string>
      </value>
      <key>
        <string>GroupSearchBase</string>
      </key>
      <value>
        <string>ou=Groups,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>IsCertificateSucceed</string>
      </key>
      <value>
        <string d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
      </value>
      <key>
        <string>UserName</string>
      </key>
      <value>
        <string>nbiadministrator</string>
      </value>
      <key>
        <string>GroupIsSubtree</string>
      </key>
      <value>
        <string>True</string>
      </value>
	  <key>
        <string>GroupTestUser</string>
      </key>
      <value>
        <string>nbiadministrator</string>
      </value>
    </ValueDict>
    <UserAuthentication>LDAP</UserAuthentication>
			]]></string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>[hostIpOrName_caceyli]</Host>
      <User>[dbnameForBDNA_caceyli]</User>
      <Password>[passwdForDb_caceyli]</Password>
      <IsDBA>false</IsDBA>
      <IsSID>true</IsSID>
      <Port>[listenPort_caceyli]</Port>
      <Service_Name />
      <SID>[sidName_caceyli]</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>[hostIpOrName_caceyli]</Host>
      <User>[dbNameForBDNA_PUBLISH_caceyli]</User>
      <Password>[passwdForDbPub_caceyli]</Password>
      <IsDBA>false</IsDBA>
      <IsSID>true</IsSID>
      <Port>[listenPort_caceyli]</Port>
      <Service_Name />
      <SID>[sidName_caceyli]</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>[hostIpOrName_caceyli]</Host>
      <User>[dbNameForSystem_caceyli]</User>
      <Password>[passwdForSystem_caceyli]</Password>
      <IsDBA>true</IsDBA>
      <IsSID>true</IsSID>
      <Port>[listenPort]</Port>
      <Service_Name />
      <SID>[sidName_caceyli]</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/WebServer</string>
			</key>
			<value>
				<string>
					<![CDATA[
	  <IISWEBSITE>Default Web Site</IISWEBSITE>
    <PhysicalPath />
	<TAPIAlisaName>bdna-api</TAPIAlisaName>
    <TAPIAppPoolName>bdna-api</TAPIAppPoolName>
    <AliasName>bdna-admin</AliasName>
    <AppPoolName>bdna-admin</AppPoolName>
    <IISType>IIS</IISType>
    <IsNativeIIS>false</IsNativeIIS>
    <IISPort>8080</IISPort>
    <State>NULL</State>
		]]>
				</string>
			</value>
		</SerializableDictionary>
	</InstallParameters>
</Configuration>
