<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<CMDList>
	</CMDList>
	<StartMenu>true</StartMenu>
	<OverwriteExistingDatabase>true</OverwriteExistingDatabase>
	<!-- 5.3 8.81 eng_superkey1 -->
	<!-- <CompanyName>eng_superkey1</CompanyName> -->
	<!-- <ActivationKey>MkbekdUXwlkezKXCqXnMD1mNAKQwslUf611aTotR9chyyb0XZTIa0sjL/M3Aakjvfr2ZDPdbmNiUpeEC+up1EB5o2ju7WXquvtyjIT/rMcUoHx/fkB3xb8XRSPCZHlr0CHklOtyn5KpiU71CK8XoohpJGl+M4FSvOhihBL+cosnqbB9H6s24rr88P53mRNp8q6SKA8I4mY3ZItgkx+iv7O6topd+BpP+SBDC95RsC83YiS2CrqeMw/s6LUEpxcLAw6RNskA5oaZwOXXcQP+a9mtnyqUpz4HcVAufgRDhA8MCNiGQnhOrNLRHdqVBps9YnSqBkUdXSFnFsfhfvqwqKLfPntI934OemKL/xgMlmCIG1ajX+onRoN314TiK/8hMvZyXQS86NBGVPIoVacXj4BMJbU1OMjFgbQ4WNw6+Fk6sUPR9qJsFrlfLo0NTGmUM453xrZE82Am5wZz6WfK+mCfCQ1uMnulfAtTZSkgd5lZdFxVKSH7oPzRhw4lujLDQUmQULYJkAq43hAMC/PtvIrSpgDHECSCltnZKQXdI8OTM6LMBi4VTIB1KOqcqK2wzObvHHU43IW0tGJIZBpQnTw==</ActivationKey> -->
	<CompanyName>qatestkey3</CompanyName>
	<ActivationKey>WSucjWv6LmSwl1OsRcQeZTXRDZhqHOqS2q3feDfQqnbNnl6sj42gSlmsjc7PweWS2pZCDIP+g2+roVV0TIVjPdI10+1y7glB4lnGX/0sQTN2XUAHxBEtxr+zpMmjdXs6+iywAcxfKi6UTiD2p49YrshqzZmBiq+LzNBJGsdk67C2dE4NqkoB9sYgOFXo50ejE/+lRaj6B/BhE5UuDPBUbTEYKpQ9SgxubSCJQ8DEgxajCRbxuchBn3dpCjTntiNaEjrc3tEy6/M67D588rs5rhkBRKQOi3LblczrrxZEPkytd8AC2pkUTyB+b0ryQnXGbaXPGvI9BUPJqDxj0KcQdYcu7OHqpukOt0yL97n99azvHBGv7V8PdTAUel5w/zApoFDwCqC5AKsmXLzxIUkoJlJA717J/sDd3ZOm//L2HAFdcq0/R5SjGWkQrsNNc7Kznc1iq5S6N/f3XbMaRMLCjRBVZQOJ+sJSWIaoEXpP3kQ30Em00CZL5rGx9Nk5hVYIOUH6MdGggmvAHoBMRYNp4Oe5UmOZZL8aL1aTcazsIuia0aFilvZ9rrKMgOetb1gghQ0d2rXNDSTr42xzq6ETz+QWCT9bvr2SbHIZW4HQBq8=</ActivationKey>
	<!-- <CompanyName>eng_superkey</CompanyName> -->
	<!-- <ActivationKey>MkbekdUXwlkezKXCqXnMD/HbW+PHtby1CTDiNsQpy/tHFxwNou127UOeTYonLMuFU0EfskXClFISYUDLldt1Up1aP/Nws8G75N3qkYcH7x6t7fZGEBEoJVkqjOJCQsoETlMIHMsBGqUx+PUKtnkt8Ju43S6bnGuGB8vvxIKn2rjyv3C8B64L5+qt52mpRzo2dZOBcL4H0C4l3aH9ab40BUUL3xKbtq/0iHTvk/oq4H/LHEtcGOwCi+STdwJKWHmp+SNUjnm5dU/vCZlWgBRDaLUSHOaXfn4C92Yy+V1CxLXg0lG+/S+sp703f+pt8DrOwJEyNFozrOaxwQbZBEv1vMc5+lBbaZCZ064MVKhgwQ38LfK1XyQLDrrdyTbYEaDx9S8Pit8JxkqjlH0Y1ZMcD3s8wd2E+LfRj6kUzAq5iPtQ4gtlrrfWP2+cF83VBdUAyo14u9n4CFaqRu68YOcTDsY8AlzIjT46ZrJBRxxhL5ZGckBphIcyjHpiVpeMZz3Gl7RH2PJEIjC6n+2SUXDd5hec43VdE7lLYZnSy5viTdmN1Bs418kt2O4ZPnieEUfuXtKxJ+pp+EaH40K8PlNScuo2Sui76YzrVchDQn9JCZw=</ActivationKey> -->
	<TUSOffLineURL>http://tus50.bdna.com/GetOffLineUpdatedFile.aspx</TUSOffLineURL>
	<NormalizeVersion>5.0.0</NormalizeVersion>
	<InstallParameters>
		<!-- <SerializableDictionary> -->
			<!-- <key> -->
				<!-- <string>Configuration/AUTO_UPDATE_SOFTWARE</string> -->
			<!-- </key> -->
			<!-- <value> -->
				<!-- <string>ON</string> -->
			<!-- </value> -->
		<!-- </SerializableDictionary> -->
		<SerializableDictionary>
			<key>
				<string>Configuration/LDAP</string>
			</key>
			<value>
				<string><![CDATA[
				 <ValueDict>
      <key>
        <string>UserName</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>URL</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>UserSearchFilter</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>UserSearchBase</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>UserAttribute</string>
      </key>
      <value>
        <string>sAMAccountName</string>
      </value>
      <key>
        <string>ManagerDN</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>Type</string>
      </key>
      <value>
        <string>ActiveDirectory</string>
      </value>
      <key>
        <string>GroupSearchFilter</string>
      </key>
      <value>
        <string>(member={0})</string>
      </value>
    </ValueDict>
    <UserAuthentication>WA</UserAuthentication>
			]]></string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection@type</string>
			</key>
			<value>
				<string>DBConnectionOracle</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>192.168.11.185</Host>
      <User>GARY</User>
      <Password>li8ZeOp6XPw=</Password>
      <IsDBA>false</IsDBA>
      <IsSID>true</IsSID>
      <Port>1521</Port>
      <Service_Name />
      <SID>orcl</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/PDB_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>192.168.11.185</Host>
      <User>GARY_PUBLISH</User>
      <Password>li8ZeOp6XPw=</Password>
      <IsDBA>false</IsDBA>
      <IsSID>true</IsSID>
      <Port>1521</Port>
      <Service_Name />
      <SID>orcl</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/Normalize/NDBDBA_DBConnection</string>
			</key>
			<value>
				<string>
					<![CDATA[
      <ConnectionType>Oracle</ConnectionType>
      <Host>192.168.11.185</Host>
      <User>system</User>
      <Password>Simple01</Password>
      <IsDBA>true</IsDBA>
      <IsSID>true</IsSID>
      <Port>1521</Port>
      <Service_Name />
      <SID>orcl</SID>
]]>
				</string>
			</value>
		</SerializableDictionary>
		<SerializableDictionary>
			<key>
				<string>Configuration/WebServer</string>
			</key>
			<value>
				<string>
					<![CDATA[
	  <IISWEBSITE>Default Web Site</IISWEBSITE>
    <PhysicalPath />
	<TAPIAlisaName>bdna-api</TAPIAlisaName>
    <TAPIAppPoolName>bdna-api</TAPIAppPoolName>
    <AliasName>bdna-admin</AliasName>
    <AppPoolName>bdna-admin</AppPoolName>
    <IISType>IIS</IISType>
    <IsNativeIIS>false</IsNativeIIS>
    <IISPort>8080</IISPort>
    <State>NULL</State>
		]]>
				</string>
			</value>
		</SerializableDictionary>
	</InstallParameters>
</Configuration>
